.u-section-1 .u-sheet-1 {
  min-height: 2264px;
}

.u-section-1 .u-image-1 {
  height: 606px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  height: 575px;
  margin-top: -6px;
  margin-bottom: 0;
}

.u-section-1 .u-image-3 {
  height: 507px;
  margin-top: -13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-4 {
  height: 509px;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1580px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1164px;
  }
}body {
  font-family: system-ui;
  background: #808000;
  color: white;
  text-align: center;
}