.u-section-1 .u-sheet-1 {
  min-height: 2112px;
}

.u-section-1 .u-image-1 {
  height: 506px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  height: 566px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-3 {
  height: 572px;
  margin-top: -9px;
  margin-bottom: 60px;
}body {
  font-family: system-ui;
  background: #808000;
  color: white;
  text-align: center;
}