@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
	--clr-primary: #094d92;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	color: var(--clr-primary);
}

body {
	font-family: Inter !important;
	background-color: #f4f4f4 !important;
}

option,
select {
	font-family: Inter !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Inria-serif !important;
}

.primary-bg {
	background-color: #f4f4f4 !important;
}

.bg-primary-color {
	background-color: var(--clr-primary);
}

.thumbnail {
	max-width: 100%;
	border-radius: 5px;
}

h1 {
	font-size: 3.125rem;
}

h2 {
	font-size: 2.8125rem;
}

h3 {
	font-size: 1.875rem;
}

.margin::before {
	content: "&nbsp;";
	color: transparent;
}

.text-justify {
	text-align: justify;
}

.text-small {
	font-size: 0.75rem;
}

.btn-primary {
	background-color: white !important;
	color: var(--clr-primary) !important;
	border-color: var(--clr-primary) !important;
}

.btn-primary:hover {
	background-color: var(--clr-primary) !important;
	border-color: white !important;
	color: white !important;
}

.primary-color {
	color: var(--clr-primary) !important;
}
.secondary-color {
	color: white !important;
}

.active {
	text-decoration: underline;
}

/* 
/
/	Reservation
/
*/

#reservationSummary {
	min-width: 300px;
}

.step {
	opacity: 0.25;
}

.step[data-active="true"] {
	opacity: 1;
}

.step-icon[data-active="true"] {
	background-color: var(--clr-primary);
}

.step-icon[data-active="true"] > svg {
	fill: white;
}

.step-icon {
	border: 1px solid var(--clr-primary);
}

.step-icon > svg {
	fill: var(--clr-primary);
}

.step-title {
	font-size: 0.75rem;
}

/*
/
/	Table
/
*/

th,
td {
	text-align: center;
}

.nav-link {
	position: relative;
	text-decoration: none;
	width: max-content;
}

.nav-link.active::after {
	width: calc(100% - 1em);
}

.nav-link::after {
	content: "";
	position: absolute;
	/* width: calc(100% - 1em); */
	width: 0;
	height: 1px;
	bottom: 0.5em;
	left: 0.5em;
	background-color: var(--clr-primary);
	transition: all 500ms ease-in-out;
}

.nav-link:hover::after {
	width: calc(100% - 1em);
}

footer a {
	color: white !important;
	text-decoration: none;
}

footer ul a:hover {
	text-decoration: underline;
}

#oldCustomer[data-active="false"],
#newCustomer[data-active="false"] {
	display: none;
}

.custom-tag {
	list-style: none;
	position: relative;
}

.custom-tag::before {
	content: "//";
	position: absolute;
	left: -2em;
	color: white !important;
}
